.header_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 3px #36385C;
    transform: scale(1);
    position: relative;
    overflow: hidden;
}

.header_profile .image{
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.header_profile .hidden {
    opacity: 10%;
}

.header_profile .overlay{
    padding: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: transparent;
    color: #C6C6C6;
    text-align: center;
    pointer-events: none;
}

.header_profile .visible {
    opacity: 1;
}

.header_profile:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 3px #36385C, 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header_content h1 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1rem;

}

.header_content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.header_content h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.header_icons {
    text-align: right;
    color: #575075;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

@media (min-width: 400px) {
    .header_content h1 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 1rem;
    }

    .header_content h2 {
        font-size: 2.2rem;
    }

    .header_content h3 {
        font-size: 1.6rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .header_icons {
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) {
    .header_content h1 {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .header_content h2 {
        font-size: 1.6rem;
    }

    .header_content h3 {
        font-size: 1.2rem;
    }
    .header_icons {
        font-size: 1.5rem;
    }
}

@media (min-width: 800px) {
    .header_content h1 {
        font-size: 1.3rem;
        margin-top: 0.5rem;
    }

    .header_content h2 {
        font-size: 2.2rem;
        margin-bottom: 0.1rem;
    }

    .header_content h3 {
        font-size: 1.4rem;
        margin-top: 2rem;
    }
    .header_icons {
        font-size: 1.5rem;
    }
    .header_icons {
        font-size: 1.6rem;
    }
}

@media (min-width: 1000px) {
    .header_content h1 {
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    .header_content h2 {
        font-size: 2.2rem;
        margin-bottom: 0.1rem;
    }

    .header_content h3 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .header_icons {
        font-size: 1.5rem;
    }
    .header_icons {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .header_content h1 {
        font-size: 1.5rem;
        margin-top: 1.2rem;
    }

    .header_content h2 {
        font-size: 2.4rem;
        margin-bottom: 0.2rem;
    }

    .header_content h3 {
        font-size: 1.6rem;
        margin-top: 1.7rem;
    }
    .header_icons {
        font-size: 2rem;
    }
}

@media (min-width: 1400px) {
    .header_content h1 {
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .header_content h2 {
        font-size: 2.6rem;
        margin-bottom: 0.3rem;
    }

    .header_content h3 {
        font-size: 1.6rem;
        margin-top: 3rem;
    }
    .header_icons {
        font-size: 2.2rem;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
}

.icon1 {
    display: inline-block;
    animation: bounce 1s infinite;
    margin-left: 0.2rem;
}
.icon2 {
    display: inline-block;
    animation: bounce 1s infinite;
    animation-delay: 0.1s;
    margin-left: 0.2rem;
}
.icon3 {
    display: inline-block;
    animation: bounce 1s infinite;
    animation-delay: 0.2s;
    margin-left: 0.2rem;
}
.icon4 {
    display: inline-block;
    animation: bounce 1s infinite;
    animation-delay: 0.3s;
    margin-left: 0.2rem;
}