.App {
  text-align: center;
  background:  linear-gradient(208deg, #20233D 9.05%, #151515 63.72%);
  color: #B1B1B1;
  font-family: 'Jura', sans-serif;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Jura', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
